.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.filter-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

kbd {
  background-color: #424242;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: monospace;
  font-weight: bold;
  box-shadow: 0 2px 0 #212121;
}

